<div>
    <h1>LOGIN</h1>
    <form action="/auth/login-auth", method="post">
        
        <input type="text" name="email", placeholder="Tu email">
        <input type="password" name="password", placeholder="Tu passwword">
        <input type="submit" value="enviar">
    </form>
</div> 