<div>
    <h1>REGISTER</h1>
    <form action="/auth/register-auth", method="post">
        <input type="text" name="firstname", placeholder="Tu nombre">
        <input type="text" name="email", placeholder="Tu email">
        <input type="password" name="password", placeholder="Tu passwword">
        <input type="submit" value="enviar">
    </form>
</div> 